# Задание 1
Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите, какому фильму было выставлено больше всего оценок 5.0.

In [ ]:
import pandas as pd

In [ ]:
movie = pd.read_csv('/content/drive/MyDrive/movies.csv')
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [ ]:
rating = pd.read_csv('/content/drive/MyDrive/ratings.csv')
rating.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [ ]:
max_raitins = movie.merge(rating, on = 'movieId')
max_raitins.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,2,3.5,1141415820
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,1439472215
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,4,3.0,1573944252
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,858625949
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,890492517

In [ ]:
max_raitins[max_raitins.rating == 5]['title'].value_counts().head(1)

Shawshank Redemption, The (1994)    1433
Name: title, dtype: int64

# Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [ ]:
power = pd.read_csv('/content/drive/MyDrive/power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0       1.0
1  Austria  1995      17.0       1.0
2  Belgium  2014       0.0       1.0
3  Belgium  2013       0.0       1.0
4  Belgium  2012      35.0       1.0

In [ ]:
power[ ((power['country'] == 'Latvia') | (power['country'] == 'Lithuania') | (power['country'] == 'Estonia')) 
      & ((power['category'] == 4) | (power['category'] == 12) | (power['category'] == 21)) 
      & (power['quantity'] > 0) 
      & ((power['year'] >= 2005) & (power['year'] <= 2010))]['quantity'].sum()

240580.0

# Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.

Примеры страниц (необязательно брать именно эти):

https://fortrader.org/quotes

www.finanz.ru...om-vremeni

In [ ]:
site = pd.read_html('https://fortrader.org/quotes')[0]
site.head()

                           Название   Цена  Изменение  Изменение(%)  Обновлено
0  EURRUB Курс евро к рублю сегодня  60.40       0.05          0.07        NaN
1       USDRUB Курс рубля к доллару  59.37      -0.36         -0.60        NaN