# Задание 1. Загрузка данных
Изучить представленный набор данных на основе описания его столбцов, загрузить его и оставить 8 столбцов для дальнейшего изучения: surgery?, Age, rectal temperature, pulse, respiratory rate, temperature of extremities, pain, outcome.

In [ ]:
import pandas as pd

In [ ]:
df_horse = pd.read_csv('/content/drive/MyDrive/horse_data.csv', na_values = '?',  header=None, 
                 names = ('surgery?', 'age', 'Hospital Number', 'rectal temperature', 'pulse', 'respiratory rate', 
                          'temperature of extremities', 'peripheral pulse', 'mucous membranes', 'capillary refill time', 
                          'pain', 'peristalsis', 'abdominal distension', 'nasogastric tube', 'nasogastric reflux',
                          'nasogastric reflux PH', 'rectal examination - feces', 'abdomen', 'packed cell volume',
                          'total protein', 'abdominocentesis appearance', 'abdomcentesis total protein', 'outcome',
                          'surgical lesion?', '25', '26', '27', 'cp_data'))

In [ ]:
df_horse.head()

,surgery?,age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,25,26,27,cp_data
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [ ]:
df_horse = df_horse[['surgery?', 'age', 'rectal temperature', 'pulse', 'respiratory rate', 'temperature of extremities', 'pain', 'outcome']]
df_horse.head()

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,9,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

# Задание 2. Первичное изучение данных
Проанализировать значения по столбцам, рассчитать базовые статистики, найти выбросы.

In [ ]:
df_horse.describe()

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.640000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,2.173972,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,9.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [ ]:
df_horse['age'].unique()

array([1, 9])

In [ ]:
#в описании указан другой возрастной состав
#Age
#          1 = Adult horse
#          2 = Young (< 6 months)
#предполагаем, что 9 - это и есть 2
df_horse.loc[df_horse['age'] > 1, 'age'] = 2

In [ ]:
df_horse.describe()

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.000000,300.000000,240.000000,276.000000,242.000000,244.000000,245.00000,299.000000
mean,1.397993,1.080000,38.167917,71.913043,30.417355,2.348361,2.95102,1.551839
std,0.490305,0.271746,0.732289,28.630557,17.642231,1.045054,1.30794,0.737187
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.00000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,18.500000,1.000000,2.00000,1.000000
50%,1.000000,1.000000,38.200000,64.000000,24.500000,3.000000,3.00000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,36.000000,3.000000,4.00000,2.000000
max,2.000000,2.000000,40.800000,184.000000,96.000000,4.000000,5.00000,3.000000

In [ ]:
#Необходимо проверить данные на выбросы и пустые ячейкм (NaN)
def ejection(df, param):
    '''
    Проверка датафрейма на наличие выбросов и их очистка
    '''
    q1 = df[param].quantile(0.25)
    q3 = df[param].quantile(0.75)
    iqr = q3 - q1
    lower_bound = q1 - (1.5 * iqr) 
    upper_bound = q3 + (1.5 * iqr)
    remove_ejection = df[df[param].between(lower_bound, upper_bound, inclusive=True)]
    df_result = pd.concat([df, remove_ejection]).drop_duplicates(keep=False)[[param]]
    df_result = df_result.dropna()
    return df_result[param].tolist()

In [ ]:
ejection_temp = ejection(df_horse, 'rectal temperature')
ejection_temp

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  # This is added back by InteractiveShellApp.init_path()

[39.9,
 35.4,
 40.3,
 39.7,
 36.4,
 40.3,
 39.6,
 36.5,
 36.0,
 36.1,
 36.6,
 40.8,
 40.0,
 36.5]

In [ ]:
ejection_pulse = ejection(df_horse, 'pulse')
ejection_pulse

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  # This is added back by InteractiveShellApp.init_path()

[164.0, 150.0, 160.0, 184.0, 150.0]

In [ ]:
ejection_rate = ejection(df_horse, 'respiratory rate')
ejection_rate

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: FutureWarning: Boolean inputs to the `inclusive` argument are deprecated infavour of `both` or `neither`.
  # This is added back by InteractiveShellApp.init_path()

[84.0,
 96.0,
 72.0,
 80.0,
 80.0,
 68.0,
 96.0,
 66.0,
 68.0,
 80.0,
 70.0,
 88.0,
 84.0,
 68.0,
 70.0]

In [ ]:
df_horse[df_horse['pulse'].isin(ejection_pulse)]

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
41,2.0,2,39.0,150.0,72.0,NaN,NaN,1.0
55,1.0,2,38.6,160.0,20.0,3.0,3.0,2.0
255,1.0,2,38.8,184.0,84.0,1.0,4.0,2.0
275,1.0,2,38.8,150.0,50.0,1.0,5.0,2.0

In [ ]:
df_horse[df_horse['pulse'].isin(ejection_rate)]

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
10,1.0,1,38.1,66.0,12.0,3.0,3.0,1.0
11,2.0,1,39.1,72.0,52.0,2.0,2.0,1.0
...,...,...,...,...,...,...,...,...
287,2.0,2,39.5,84.0,30.0,NaN,NaN,1.0
291,1.0,1,38.9,80.0,44.0,3.0,2.0,2.0
292,1.0,1,37.0,66.0,20.0,1.0,4.0,2.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0

In [ ]:
df_horse[df_horse['pulse'].isin(ejection_temp)]

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
53,2.0,1,38.6,40.0,20.0,NaN,NaN,1.0
81,1.0,1,37.3,40.0,NaN,NaN,2.0,1.0
87,2.0,1,NaN,40.0,16.0,NaN,NaN,3.0
100,1.0,1,38.2,40.0,16.0,3.0,1.0,1.0
102,2.0,1,38.3,40.0,16.0,3.0,2.0,1.0
111,1.0,1,38.3,40.0,16.0,3.0,1.0,1.0
112,1.0,1,NaN,40.0,NaN,2.0,1.0,1.0
122,2.0,1,38.7,40.0,28.0,2.0,3.0,1.0
133,2.0,1,37.9,40.0,24.0,1.0,2.0,1.0
166,1.0,1,38.3,40.0,18.0,1.0,3.0,1.0
190,1.0,1,37.1,40.0,8.0,NaN,3.0,1.0
203,2.0,1,37.2,36.0,9.0,1.0,2.0,1.0
215,1.0,1,37.8,40.0,12.0,1.0,1.0,1.0
218,1.0,1,38.1,40.0,36.0,1.0,2.0,3.0
242,1.0,1,NaN,36.0,32.0,1.0,5.0,2.0
260,2.0,1,38.0,40.0,25.0,NaN,4.0,1.0
276,1.0,1,38.0,36.0,16.0,3.0,4.0,3.0
278,2.0,1,37.8,40.0,16.0,1.0,1.0,1.0
294,2.0,1,38.5,40.0,16.0,1.0,2.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

# Задание 3. Работа с пропусками
Рассчитать количество пропусков для всех выбранных столбцов. Принять и обосновать решение о методе заполнения пропусков по каждому столбцу на основе рассчитанных статистик и возможной взаимосвязи значений в них. Сформировать датафрейм, в котором пропуски будут отсутствовать.

In [ ]:
for i in df_horse:
    print (i, len(df_horse[df_horse[i].isnull()]))

surgery? 1
age 0
rectal temperature 60
pulse 24
respiratory rate 58
temperature of extremities 56
pain 55
outcome 1

In [ ]:
df_horse[df_horse['surgery?'].isnull()]

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
132,NaN,1,38.0,48.0,20.0,3.0,4.0,NaN

In [ ]:
#Тк пропуски surgery? и outcome находятся в одной строке и встречаются только 1 раз, предлагаю заполнить их медианными значениями
#создаем копию датафрейма
df_new = df_horse
df_new.head()

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0

In [ ]:
df_new['surgery?'].fillna(df_new['surgery?'].median(), inplace=True)
df_new['outcome'].fillna(df_new['outcome'].median(), inplace=True)
df_new.loc[132] #проверяем строку

surgery?                       1.0
age                            1.0
rectal temperature            38.0
pulse                         48.0
respiratory rate              20.0
temperature of extremities     3.0
pain                           4.0
outcome                        1.0
Name: 132, dtype: float64

In [ ]:
df_new[df_new['rectal temperature'].isnull() & df_new['pulse'].isnull()& df_new['respiratory rate'].isnull()& df_new['temperature of extremities'].isnull()]

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
28,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
56,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
74,1.0,2,NaN,NaN,NaN,NaN,NaN,2.0
160,1.0,1,NaN,NaN,NaN,NaN,4.0,1.0
175,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0
207,1.0,1,NaN,NaN,NaN,NaN,NaN,2.0
216,2.0,1,NaN,NaN,NaN,NaN,NaN,1.0
227,1.0,2,NaN,NaN,NaN,NaN,NaN,1.0
288,1.0,1,NaN,NaN,NaN,NaN,NaN,1.0

In [ ]:
# строки с большим кол-вом пустых значений информации не содержат, вычислить их мы не можем, предлагаю удалить.
df_new.drop(index = [28, 56, 74, 160, 175, 207, 216, 227, 288], axis=1, inplace=True)
df_new

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0
2,2.0,1,38.3,40.0,24.0,1.0,3.0,1.0
3,1.0,2,39.1,164.0,84.0,4.0,2.0,2.0
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
...,...,...,...,...,...,...,...,...
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0
296,2.0,1,37.2,72.0,24.0,3.0,4.0,3.0
297,1.0,1,37.5,72.0,30.0,4.0,4.0,2.0
298,1.0,1,36.5,100.0,24.0,3.0,3.0,1.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [ ]:
for i in df_new:
    print (i, len(df_new[df_new[i].isnull()]))

surgery? 0
age 0
rectal temperature 51
pulse 15
respiratory rate 49
temperature of extremities 47
pain 47
outcome 0

In [ ]:
df_new[df_new['pulse'].isnull()]

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
5,2.0,1,NaN,NaN,NaN,2.0,2.0,1.0
52,2.0,1,NaN,NaN,NaN,1.0,1.0,1.0
58,1.0,1,NaN,NaN,20.0,4.0,5.0,2.0
78,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
83,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
93,2.0,1,NaN,NaN,NaN,3.0,5.0,2.0
115,2.0,1,NaN,NaN,40.0,3.0,3.0,1.0
117,2.0,1,39.5,NaN,NaN,3.0,3.0,3.0
126,1.0,1,38.7,NaN,NaN,3.0,5.0,1.0
136,1.0,1,NaN,NaN,NaN,3.0,5.0,2.0
151,1.0,1,39.3,NaN,NaN,4.0,4.0,2.0
159,2.0,1,NaN,NaN,12.0,1.0,2.0,1.0
174,2.0,1,NaN,NaN,NaN,3.0,4.0,2.0
182,1.0,1,38.0,NaN,24.0,3.0,5.0,2.0
204,1.0,1,39.2,NaN,23.0,3.0,4.0,1.0

In [ ]:
#частота пульса зависит от многих факторов: возраст, боль и многие другие. Поэтому предлагаю заполнить средними данными, опираясь на возраст и уровень боли
df_new['pulse'].fillna(df_new.groupby(['pain', 'age'])['pulse'].transform('median'), inplace=True)

In [ ]:
df_new[df_new['respiratory rate'].isnull()]

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
5,2.0,1,NaN,72.0,NaN,2.0,2.0,1.0
7,1.0,1,NaN,60.0,NaN,3.0,NaN,2.0
9,2.0,2,38.3,90.0,NaN,1.0,5.0,1.0
29,2.0,1,37.7,48.0,NaN,2.0,1.0,1.0
32,1.0,1,37.2,60.0,NaN,2.0,3.0,1.0
37,1.0,1,37.8,72.0,NaN,NaN,5.0,1.0
38,2.0,1,38.6,52.0,NaN,1.0,3.0,1.0
40,1.0,1,NaN,88.0,NaN,3.0,5.0,2.0
43,1.0,1,NaN,120.0,NaN,3.0,4.0,3.0
45,2.0,1,NaN,120.0,NaN,4.0,5.0,2.0
50,2.0,1,38.6,46.0,NaN,1.0,1.0,1.0
52,2.0,1,NaN,48.0,NaN,1.0,1.0,1.0
59,2.0,1,NaN,96.0,NaN,3.0,5.0,2.0
61,2.0,1,38.5,60.0,NaN,2.0,1.0,1.0
66,2.0,1,37.9,72.0,NaN,1.0,3.0,1.0
72,1.0,1,37.7,56.0,NaN,NaN,NaN,2.0
75,1.0,2,39.7,100.0,NaN,3.0,2.0,3.0
78,1.0,1,NaN,88.0,NaN,3.0,5.0,2.0
81,1.0,1,37.3,40.0,NaN,NaN,2.0,1.0
93,2.0,1,NaN,88.0,NaN,3.0,5.0,2.0
112,1.0,1,NaN,40.0,NaN,2.0,1.0,1.0
117,2.0,1,39.5,55.0,NaN,3.0,3.0,3.0
126,1.0,1,38.7,88.0,NaN,3.0,5.0,1.0
129,1.0,1,38.4,49.0,NaN,NaN,NaN,1.0
134,1.0,1,NaN,100.0,NaN,3.0,5.0,2.0
136,1.0,1,NaN,88.0,NaN,3.0,5.0,2.0
137,1.0,1,38.0,48.0,NaN,1.0,1.0,1.0
138,2.0,1,38.0,56.0,NaN,1.0,1.0,1.0
142,1.0,1,NaN,120.0,NaN,4.0,5.0,2.0
146,1.0,1,38.2,48.0,NaN,1.0,3.0,1.0
148,1.0,1,38.3,132.0,NaN,NaN,2.0,1.0
151,1.0,1,39.3,77.5,NaN,4.0,4.0,2.0
152,1.0,1,NaN,100.0,NaN,3.0,NaN,1.0
164,1.0,1,38.7,76.0,NaN,1.0,3.0,1.0
173,1.0,1,NaN,104.0,NaN,3.0,2.0,2.0
174,2.0,1,NaN,77.5,NaN,3.0,4.0,2.0
179,2.0,1,38.5,100.0,NaN,3.0,4.0,3.0
188,1.0,1,38.5,60.0,NaN,1.0,NaN,1.0
201,1.0,1,38.5,86.0,NaN,1.0,4.0,2.0
205,2.0,1,38.5,100.0,NaN,3.0,4.0,3.0
238,2.0,1,36.1,88.0,NaN,3.0,3.0,3.0
245,2.0,1,NaN,96.0,NaN,3.0,5.0,2.0
249,2.0,1,38.2,48.0,NaN,2.0,3.0,1.0
254,1.0,1,NaN,80.0,NaN,3.0,4.0,1.0
256,1.0,1,37.5,72.0,NaN,2.0,2.0,3.0
271,1.0,1,37.7,80.0,NaN,3.0,5.0,1.0
274,1.0,1,NaN,76.0,NaN,NaN,NaN,3.0
281,2.0,1,40.0,78.0,NaN,3.0,2.0,2.0
284,2.0,1,38.5,54.0,NaN,1.0,3.0,1.0

In [ ]:
#предлагаю заполнить пропуски медианными значениями
df_new['respiratory rate'].fillna(df_new['respiratory rate'].median(), inplace=True)

In [ ]:
df_new[df_new['pain'].isnull()]

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
4,2.0,1,37.3,104.0,35.0,NaN,NaN,2.0
7,1.0,1,NaN,60.0,24.5,3.0,NaN,2.0
17,2.0,1,37.5,48.0,24.0,NaN,NaN,1.0
19,2.0,1,39.4,110.0,35.0,4.0,NaN,1.0
24,1.0,1,38.1,60.0,12.0,3.0,NaN,1.0
25,2.0,1,37.8,60.0,42.0,NaN,NaN,1.0
27,1.0,1,37.8,48.0,12.0,3.0,NaN,1.0
36,2.0,1,38.3,112.0,16.0,NaN,NaN,3.0
39,1.0,2,39.2,146.0,96.0,NaN,NaN,2.0
41,2.0,2,39.0,150.0,72.0,NaN,NaN,1.0
53,2.0,1,38.6,40.0,20.0,NaN,NaN,1.0
68,2.0,1,NaN,52.0,16.0,1.0,NaN,1.0
72,1.0,1,37.7,56.0,24.5,NaN,NaN,2.0
87,2.0,1,NaN,40.0,16.0,NaN,NaN,3.0
94,2.0,1,37.5,48.0,30.0,4.0,NaN,1.0
96,2.0,1,NaN,84.0,36.0,NaN,NaN,1.0
106,1.0,1,38.3,52.0,96.0,NaN,NaN,1.0
113,1.0,1,36.8,60.0,28.0,NaN,NaN,2.0
129,1.0,1,38.4,49.0,24.5,NaN,NaN,1.0
130,1.0,1,37.8,30.0,12.0,NaN,NaN,2.0
141,2.0,1,36.0,42.0,30.0,NaN,NaN,2.0
152,1.0,1,NaN,100.0,24.5,3.0,NaN,1.0
157,1.0,1,37.8,60.0,24.0,1.0,NaN,3.0
161,1.0,1,38.3,42.0,24.0,NaN,NaN,2.0
165,1.0,1,39.4,120.0,48.0,NaN,NaN,3.0
170,2.0,1,37.5,44.0,20.0,1.0,NaN,1.0
185,1.0,1,38.5,120.0,60.0,4.0,NaN,1.0
186,1.0,1,39.3,64.0,90.0,2.0,NaN,1.0
188,1.0,1,38.5,60.0,24.5,1.0,NaN,1.0
195,2.0,1,38.0,44.0,12.0,3.0,NaN,1.0
202,1.0,1,37.5,48.0,40.0,NaN,NaN,3.0
208,1.0,1,37.8,88.0,80.0,3.0,NaN,3.0
213,1.0,1,37.6,45.0,12.0,3.0,NaN,1.0
217,1.0,1,38.0,76.0,18.0,NaN,NaN,1.0
229,1.0,2,38.5,120.0,70.0,NaN,NaN,1.0
232,1.0,1,38.5,30.0,18.0,NaN,NaN,1.0
234,2.0,1,37.5,48.0,30.0,4.0,NaN,1.0
243,1.0,1,38.4,92.0,20.0,1.0,NaN,1.0
257,1.0,1,38.7,96.0,28.0,3.0,NaN,2.0
262,2.0,2,38.6,88.0,28.0,NaN,NaN,1.0
268,1.0,1,38.2,42.0,20.0,NaN,NaN,1.0
269,1.0,1,39.3,64.0,90.0,2.0,NaN,1.0
274,1.0,1,NaN,76.0,24.5,NaN,NaN,3.0
283,1.0,1,38.2,72.0,18.0,NaN,NaN,1.0
287,2.0,2,39.5,84.0,30.0,NaN,NaN,1.0
293,1.0,1,NaN,78.0,24.0,3.0,NaN,3.0
299,1.0,1,37.2,40.0,20.0,NaN,NaN,3.0

In [ ]:
df_new.describe()

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,291.000000,291.000000,240.000000,291.000000,291.000000,244.000000,244.000000,291.000000
mean,1.405498,1.075601,38.167917,72.159794,29.420962,2.348361,2.946721,1.556701
std,0.491834,0.264815,0.732289,28.067119,16.235092,1.045054,1.308892,0.742350
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,20.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.200000,65.000000,24.500000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,35.000000,3.000000,4.000000,2.000000
max,2.000000,2.000000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

In [ ]:
#исходя из анализа данныз, можно предположить, что уровень боли и пульс связаны напрямую. Предлагаю взять для заполнения данные в диапазоне 0,65,184 и заполнить их медианными значениями
df_new['pain'].fillna(df_new.groupby(pd.cut(df_new['pulse'], [0,65,184]))['pain'].transform('median'), inplace=True)

In [ ]:
df_new.describe()

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,291.000000,291.000000,240.000000,291.000000,291.000000,244.000000,291.000000,291.000000
mean,1.405498,1.075601,38.167917,72.159794,29.420962,2.348361,2.987973,1.556701
std,0.491834,0.264815,0.732289,28.067119,16.235092,1.045054,1.205888,0.742350
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.800000,48.000000,20.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.200000,65.000000,24.500000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,35.000000,3.000000,4.000000,2.000000
max,2.000000,2.000000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

In [ ]:
df_new[df_new['rectal temperature'].isnull()] 
#можно провести коррекляцию c пульсом и заполнить пропуски аналогично с pain

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
5,2.0,1,NaN,72.0,24.5,2.0,2.0,1.0
7,1.0,1,NaN,60.0,24.5,3.0,3.0,2.0
8,2.0,1,NaN,80.0,36.0,3.0,4.0,3.0
16,1.0,2,NaN,128.0,36.0,3.0,4.0,2.0
34,1.0,1,NaN,100.0,30.0,3.0,5.0,1.0
35,2.0,1,NaN,104.0,24.0,4.0,4.0,3.0
40,1.0,1,NaN,88.0,24.5,3.0,5.0,2.0
43,1.0,1,NaN,120.0,24.5,3.0,4.0,3.0
45,2.0,1,NaN,120.0,24.5,4.0,5.0,2.0
52,2.0,1,NaN,48.0,24.5,1.0,1.0,1.0
57,1.0,1,NaN,64.0,36.0,2.0,5.0,2.0
58,1.0,1,NaN,88.0,20.0,4.0,5.0,2.0
59,2.0,1,NaN,96.0,24.5,3.0,5.0,2.0
65,1.0,1,NaN,60.0,36.0,3.0,3.0,1.0
68,2.0,1,NaN,52.0,16.0,1.0,3.0,1.0
78,1.0,1,NaN,88.0,24.5,3.0,5.0,2.0
86,1.0,1,NaN,88.0,40.0,3.0,5.0,2.0
87,2.0,1,NaN,40.0,16.0,NaN,3.0,3.0
93,2.0,1,NaN,88.0,24.5,3.0,5.0,2.0
96,2.0,1,NaN,84.0,36.0,NaN,3.5,1.0
101,1.0,1,NaN,60.0,20.0,4.0,5.0,3.0
105,1.0,1,NaN,70.0,36.0,1.0,2.0,1.0
110,1.0,1,NaN,70.0,16.0,3.0,2.0,2.0
112,1.0,1,NaN,40.0,24.5,2.0,1.0,1.0
115,2.0,1,NaN,55.0,40.0,3.0,3.0,1.0
134,1.0,1,NaN,100.0,24.5,3.0,5.0,2.0
136,1.0,1,NaN,88.0,24.5,3.0,5.0,2.0
142,1.0,1,NaN,120.0,24.5,4.0,5.0,2.0
145,2.0,1,NaN,80.0,32.0,3.0,2.0,1.0
152,1.0,1,NaN,100.0,24.5,3.0,3.5,1.0
159,2.0,1,NaN,72.0,12.0,1.0,2.0,1.0
167,2.0,1,NaN,44.0,24.0,1.0,3.0,1.0
169,1.0,1,NaN,65.0,24.0,NaN,5.0,3.0
173,1.0,1,NaN,104.0,24.5,3.0,2.0,2.0
174,2.0,1,NaN,77.5,24.5,3.0,4.0,2.0
177,1.0,1,NaN,68.0,14.0,NaN,4.0,2.0
178,1.0,1,NaN,60.0,30.0,3.0,5.0,1.0
191,2.0,2,NaN,100.0,44.0,2.0,4.0,1.0
193,1.0,1,NaN,60.0,48.0,3.0,4.0,2.0
219,1.0,1,NaN,52.0,28.0,3.0,3.0,1.0
222,1.0,1,NaN,112.0,13.0,4.0,2.0,1.0
242,1.0,1,NaN,36.0,32.0,1.0,5.0,2.0
245,2.0,1,NaN,96.0,24.5,3.0,5.0,2.0
253,2.0,1,NaN,112.0,24.0,3.0,5.0,1.0
254,1.0,1,NaN,80.0,24.5,3.0,4.0,1.0
265,2.0,1,NaN,56.0,68.0,3.0,3.0,3.0
272,1.0,1,NaN,100.0,30.0,3.0,5.0,1.0
274,1.0,1,NaN,76.0,24.5,NaN,3.5,3.0
282,1.0,1,NaN,70.0,16.0,3.0,2.0,2.0
293,1.0,1,NaN,78.0,24.0,3.0,3.5,3.0
295,1.0,1,NaN,120.0,70.0,4.0,2.0,3.0

In [ ]:
df_new['rectal temperature'].fillna(df_new.groupby(pd.cut(df_new['pulse'],[0,65,184]))['rectal temperature'].transform('median'), inplace=True)

In [ ]:
df_new[df_new['temperature of extremities'].isnull()]

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
1,1.0,1,39.20,88.0,20.0,NaN,3.0,3.0
4,2.0,1,37.30,104.0,35.0,NaN,3.5,2.0
17,2.0,1,37.50,48.0,24.0,NaN,3.0,1.0
23,1.0,2,38.30,130.0,60.0,NaN,2.0,1.0
25,2.0,1,37.80,60.0,42.0,NaN,3.0,1.0
36,2.0,1,38.30,112.0,16.0,NaN,3.5,3.0
37,1.0,1,37.80,72.0,24.5,NaN,5.0,1.0
39,1.0,2,39.20,146.0,96.0,NaN,3.5,2.0
41,2.0,2,39.00,150.0,72.0,NaN,3.5,1.0
53,2.0,1,38.60,40.0,20.0,NaN,3.0,1.0
72,1.0,1,37.70,56.0,24.5,NaN,3.0,2.0
81,1.0,1,37.30,40.0,24.5,NaN,2.0,1.0
87,2.0,1,38.05,40.0,16.0,NaN,3.0,3.0
90,2.0,1,38.00,52.0,16.0,NaN,2.0,1.0
95,1.0,1,37.30,48.0,20.0,NaN,3.0,1.0
96,2.0,1,38.30,84.0,36.0,NaN,3.5,1.0
106,1.0,1,38.30,52.0,96.0,NaN,3.0,1.0
113,1.0,1,36.80,60.0,28.0,NaN,3.0,2.0
121,1.0,1,38.30,80.0,40.0,NaN,4.0,3.0
128,1.0,1,37.40,84.0,20.0,NaN,2.0,3.0
129,1.0,1,38.40,49.0,24.5,NaN,3.0,1.0
130,1.0,1,37.80,30.0,12.0,NaN,3.0,2.0
141,2.0,1,36.00,42.0,30.0,NaN,3.0,2.0
148,1.0,1,38.30,132.0,24.5,NaN,2.0,1.0
149,2.0,1,38.70,48.0,24.0,NaN,1.0,1.0
161,1.0,1,38.30,42.0,24.0,NaN,3.0,2.0
165,1.0,1,39.40,120.0,48.0,NaN,3.5,3.0
169,1.0,1,38.05,65.0,24.0,NaN,5.0,3.0
177,1.0,1,38.30,68.0,14.0,NaN,4.0,2.0
181,2.0,1,37.80,48.0,14.0,NaN,3.0,1.0
190,1.0,1,37.10,40.0,8.0,NaN,3.0,1.0
202,1.0,1,37.50,48.0,40.0,NaN,3.0,3.0
210,1.0,1,37.90,68.0,20.0,NaN,2.0,2.0
217,1.0,1,38.00,76.0,18.0,NaN,3.5,1.0
229,1.0,2,38.50,120.0,70.0,NaN,3.5,1.0
232,1.0,1,38.50,30.0,18.0,NaN,3.0,1.0
239,1.0,1,38.10,70.0,22.0,NaN,5.0,3.0
260,2.0,1,38.00,40.0,25.0,NaN,4.0,1.0
262,2.0,2,38.60,88.0,28.0,NaN,3.5,1.0
263,1.0,1,37.10,75.0,36.0,NaN,4.0,2.0
268,1.0,1,38.20,42.0,20.0,NaN,3.0,1.0
274,1.0,1,38.30,76.0,24.5,NaN,3.5,3.0
280,1.0,1,38.60,48.0,12.0,NaN,1.0,1.0
283,1.0,1,38.20,72.0,18.0,NaN,3.5,1.0
287,2.0,2,39.50,84.0,30.0,NaN,3.5,1.0
289,1.0,1,38.00,50.0,36.0,NaN,3.0,1.0
299,1.0,1,37.20,40.0,20.0,NaN,3.0,3.0

In [ ]:
df_new.describe()

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,291.000000,291.000000,291.000000,291.000000,291.000000,244.000000,291.000000,291.000000
mean,1.405498,1.075601,38.177320,72.159794,29.420962,2.348361,2.987973,1.556701
std,0.491834,0.264815,0.666877,28.067119,16.235092,1.045054,1.205888,0.742350
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.850000,48.000000,20.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.200000,65.000000,24.500000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,35.000000,3.000000,4.000000,2.000000
max,2.000000,2.000000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

In [ ]:
#коррелируется с rectal temperature
df_new['temperature of extremities'].fillna(df_new.groupby(pd.cut(df_new['rectal temperature'],[0,38.2,40.8]))['temperature of extremities'].transform('median'), inplace=True)

In [ ]:
df_new.describe()

,surgery?,age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000,291.000000
mean,1.405498,1.075601,38.177320,72.159794,29.420962,2.364261,2.987973,1.556701
std,0.491834,0.264815,0.666877,28.067119,16.235092,0.978014,1.205888,0.742350
min,1.000000,1.000000,35.400000,30.000000,8.000000,1.000000,1.000000,1.000000
25%,1.000000,1.000000,37.850000,48.000000,20.000000,1.000000,2.000000,1.000000
50%,1.000000,1.000000,38.200000,65.000000,24.500000,3.000000,3.000000,1.000000
75%,2.000000,1.000000,38.500000,88.000000,35.000000,3.000000,4.000000,2.000000
max,2.000000,2.000000,40.800000,184.000000,96.000000,4.000000,5.000000,3.000000

In [ ]:
for i in df_new:
    print (i, len(df_new[df_new[i].isnull()]))

surgery? 0
age 0
rectal temperature 0
pulse 0
respiratory rate 0
temperature of extremities 0
pain 0
outcome 0